# Consider the code

**Q1. What is the result?**

In [5]:
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

#  explanation:-
* x//3*3/2+y%2**2
* x//3*3/2+y%4
* 8//3*3/2+y%4
* 2*3/2+y%4
* 6/2+y%4
* 3.0+10%4
* 3.0+2
* 5

**Q2. Consider the code**

In [7]:
start=input('How old were at the time of joining?')
end=input('How old are you today?')

How old were at the time of joining?24
How old are you today?50

** Which of the following code is valid to print Congratulation messsage?**

In [11]:
print('Congratulation on '+str(int(end)-int(start))+" Year of Service!")

Congratulation on 26 Year of Service!

In [1]:
# Explaination
# To use operator for string type compulsory both arguments must be str type otherwise we will get error.

# print('congratulations on '+ (int(end)+int(start))+'Year of Service!')
# Type Error: must be str; not int

# print('Congratulations on '+ int(end-start)+'Year of Service!')
# Type Error:- unsupported operant type(s) for-:'str' and 'str'

# print('Congratulations on'+ str(end_start)+'Year of Service!')
# Type Error: unsu str Type Error: unsupported operant type(s) for-: 'str' and 'str'pported operant type

 **Q4. Consider the code:**

In [3]:
x='ACROTE'
y='APPLE'
z='TOMATO'

** Which of the following wont print 'CAT' to the console **

In [5]:
print(x[1]+y[0]+z[0])

CAT

In [6]:
print(x[-5]+y[-5]+z[-2])

CAT

**Q4. Consiter the follwing code**

** For which of the following condition true will be printed to the console? **

In [8]:
x='Durga'
y='Durga'
if x is y:         ## result=condition
    print("True")

True

In [14]:
x is y

True

In [15]:
x==y

True

In [16]:
x<y

False

In [17]:
x!=y

False

In [ ]:
#Explaination
#both x and y pointing to the same object
#Hence x is y returns True Except that all remaining case False

**Q5. Consider the following code segments**

** code segment 1,2,3 the result types of c1,c2,c3 are:

In [19]:
# code segament-1
a1='10'
b1=3
c1=a1*b1

In [20]:
c1

'101010'

In [21]:
type(c1)

str

In [22]:
# Code sagment-2
a2=10
b2=3
c2=a2/b2

In [23]:
c2

3.3333333333333335

In [24]:
type(c2)

float

In [26]:
# Code segment-3
a3=2.6
b3=3
c3=a3/b3

In [27]:
c3

0.8666666666666667

In [28]:
type(c3)

float

**Q6. In which of the following cases we will get same retult**

In [29]:
13//4

3

In [30]:
11/3

3.6666666666666665

In [31]:
3**1

3

In [32]:
23%5

3

**Q7. Consider the following lists**

In [34]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [35]:
# Explanation
# 'is' operator is always meant for reference comparison and '=='operator always meant for content comparisons.
# In the above example n1 and n2 are diffenrent object but with same content.Hence 'is' operator returns false and
# '==' operator returns true

**Q8. Consider the python code.**

In [37]:
a=1
b=3
c=5
d=7

** In which of the following cases the result value is 0

In [39]:
result1=a**d-1

In [40]:
result2=a%b-1

In [41]:
result1

0

In [42]:
result2

0

**Q9 Consider the python code**

In [2]:
s='AB CD'
list_1=list(s)
list_1.append('ED')
print(list_1)

['A', 'B', ' ', 'C', 'D', 'ED']

**list elements will be printed within square bracket. where we are converting strig to list, 
**each character will become element list including space also.

**Q10. Cosider the python code**

** To print valid to the console,which condition we have to take for if statement

In [3]:
a=5
b=10
c=2
d=True
x=a+b*c  #x=5+10*2=25
y=a+b/d  #y=5+10/1=15

if x>y:
    print("valid")
else:
    print("invalid")

valid

In [4]:
# Explanation 
# To print valid the condition should be true. when the conditon will be false then the print invalid sentax

**Q11. You are writing a python program to read two int value from the keyboard and print the sum**

In [11]:
x=input('ENTER FIRST NUMBER: ')
y=input('ENTER SECOND NUMBER: ')
sum_given=str(int(x)+int(y))
print('sum of x and y= '+sum_given)

ENTER FIRST NUMBER: 45
ENTER SECOND NUMBER: 45
sum of x and y= 90

In [8]:
# Explanation
# To use + operator for string types,compolsary both arguments must be str type otherwise we will get error.
# as show in below

In [12]:
x=input('ENTER FIRST NUMBER: ')
y=input('ENTER SECOND NUMBER: ')
sum_given=(int(x)+int(y))
print('sum of x and y='+sum_given)

ENTER FIRST NUMBER: 45
ENTER SECOND NUMBER: 15

TypeError: can only concatenate str (not "int") to str

In [13]:
x=input('ENTER FIRST NUMBER: ')
y=input('ENTER SECOND NUMBER: ')
sum_given=(int(x+y))
print('sum of x and y='+sum_given)

ENTER FIRST NUMBER: 86
ENTER SECOND NUMBER: 96

TypeError: can only concatenate str (not "int") to str

In [14]:
x=input('ENTER FIRST NUMBER: ')
y=input('ENTER SECOND NUMBER: ')
sum_given=str(int(x+y))          # Not fillful our requirement
print('sum of x and y='+sum_given)

ENTER FIRST NUMBER: 45
ENTER SECOND NUMBER: 63
sum of x and y=4563

**Q12. Consider the expretion**

In [16]:
# result=a-b*c+d
# which of the following are valid?
# The above expression is equivalent to a-(b*c)+d
# First b*c will be evaluted followed by substration and addition

# Explanation 
# Multiplication having more precedence than addition and substration 
# addition abd substration having same precedence

**Q13. Consider the following python code.**

In [17]:
weight=62.4
zip_1='80098'
value=+23E4

** The type of weight,zip_1 and value variables respectively.

In [18]:
type(weight)

float

In [19]:
type(zip_1)

str

In [20]:
type(value)

float

**Q14. You are writing a python program.You are required to handle data types properly consider the code segment**

In [22]:
a=10+20
b='10'+'20'
c='10'*3

In [23]:
a # type=int

30

In [25]:
b  #type=str

'1020'

In [26]:
c   #type=str

'101010'

In [27]:
# Explanation
# If we apply + operator between two int types the result is of int type.
# a=10+20=30
# Hence a is int type.
# If we apply + operator between two str types then the result of the str is of str type.
# b='10'+'20'=1020
# Hence b is str type
# c='10'*3='101010'
# If we apply * operator for str and int type then it acts as string repetation operator.Hence the result is of str type.

**Q15. You have the following cade:**

In [29]:
a=bool([False])
b=bool(3)
c=bool("")
d=bool(' ')

** Which of the variables will represent False:

In [30]:
a

True

In [31]:
b

True

In [32]:
c

False

In [33]:
d

True

In [34]:
# Explanation 
# For empty list,empty set,empty dict and range(0) arrguments bool() function returns False

In [1]:
# Q.16 Consider the following expression
#result-(2*(3+4)**2-(3**3)*3)
#What is result value?

In [2]:
2*(3+4)**2-(3**3)*3

17

In [ ]:
Explanation

Python Virtual Machine will give the precedence in the following order
1. Parenthesis
2. Exponent
3. Multiplication, Division, Modulo,Floor Division
4. Addition, Subtraction
etc
result=(2*(3+4)**2-(3**3)*3)=(2*(7)**2-(27)*3)=2*49-27*3=98-81=17

In [ ]:
Q.17 Consider the code
a=2
a += 1
#Line-1
To make a value as 9,which expression required to place at Line-1

In [25]:
a=2
a+=1
a**=2

In [26]:
a

9

In [ ]:
Explanation

a*=2--->6
a**-2->9
a+=2->5
a-=2-->1

In [ ]:
Q18.

a=bool(0)
b=bool(3)
c=bool(0.5)
d=bool (0.0)
Which variables represent True?

In [27]:
bool(3)

True

In [28]:
bool(0.5)

True

In [ ]:
Explanation

In the case of integral values 0 treated as False and non-zero treated as True.
In the case of float values 0.0 treated as False and all other values (non-zero values) treated as True.

In [ ]:
Q19.

Consider the code:
a = 21
b = 6
print(a/b)
print(a//b)
print(a%b)
What is the result?

In [29]:
a = 21
b = 6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [ ]:
Explanation

division operator in python always meant for floating point arithmetic. 
Hence a/b returns 3.5 But floor division(/) operator can perform both integral and floating point arithmetic.
If the arguments are int type then the result is int type and if the arguments are float type then the result is float type.
Hence a//b returns 3. a%b returns the remainder which is 3.

Q20.
You are developing a python application for your company.
A list named employees contains 500 employee names, the last 3 being company management.
Which of the following represents only management employees.
* a) employees[-3:]
* b) employees[497:]
* c) All of the above

Answer-c

In [ ]:
Explanation
list[begin:end] returns list of elements from begin index to end-1 index default value
for begin is: 0

In [ ]:
Q21.
subjects=['java','python','sap]
more subjects=['java','python','sap'] 
extra_subjects=more_subjects.
In which cases True will be printed to the console?

In [32]:
subjects=['java','python','sap']
more_subjects=['java','python','sap'] 
extra_subjects=more_subjects

In [33]:
subjects == extra_subjects

True

In [34]:
extra_subjects is more_subjects

True

In [35]:
subjects == more_subjects

True

In [ ]:
Explanation
We can use 'is' operator for reference comparison where as '==' operator for content comparison.

print(extra_subjects is more subjects) #True
print(subjects is more subjects) #False 
print(subjects is extra_subjects)#False
print(subjects==extra_subjects)#True

In [ ]:
Q22. 
You are developing a python application for your company.
A list named employees contains 500 employee names.
In which cases we will get IndexError while accessing employee data?

employees[0:501]
employees[1:1000]
employees[-10:10]
None of the above (Correct)

Explanation

Slice Operator never raises IndexError

In [ ]:
Q23.
Consider the list:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print( numbers is alphabets)
print( numbers == alphabets)
numbers=alphabets
print( numbers is alphabets)
print( numbers==alphabets)
What is the result?

In [42]:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']

In [43]:
numbers == alphabets

False

In [44]:
numbers is alphabets

False

In [45]:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
numbers=alphabets

In [46]:
numbers == alphabets

True

In [47]:
numbers is alphabets

True

In [ ]:
Explanation

'is' operator is always meant for reference comparison and == operator always meant for content comparison.

In [ ]:
Q24.
Consider the following python code:
age=0
minor=False
name='Durga'
The types of age,minor ard name variables respectively:

In [48]:
age=0
minor=False
name='Durga'

In [49]:
type(age)

int

In [50]:
type(minor)

bool

In [51]:
type(name)

str

In [ ]:
Q25.
Which of the following expression will generate max value?
8//3*4
8%3*4
8/3*4  # currect
8-3*4

In [52]:
8//3*4

8

In [53]:
8%3*4

8

In [54]:
8/3*4   # Maximum value

10.666666666666666

In [55]:
8-3*4

-4

In [ ]:
Q26.
Consider the code:
s="Python is easy"
s1=s[6:-4]
# Line_1
print(len(s2))

To print 2 as output, which code we have to insert at Line_1

In [56]:
s="Python is easy"
s1=s[6:-4]
s2=s1.strip()
print(len(s2))

2

In [ ]:
Explanation

strip()==>It will remove spaces present at left and right sides of the string
lstrip()==>It will remove spaces present at only left side of the string 
rstrip()==>It will remove spaces present at only right side of the string 
There is no method like Irstrip().
s2=s1.Irstrip()
AttributeError: 'str' object has no attribute 'Irstrip'

In [ ]:
Q27. 
You are developing a python application for your company.
A list named employees contains 600 employee names, the last 3 being company
management. You need to slice employees to display all employees excluding
management. Which two code segments we should use?

employees[1:-3]

employees[:-3] # Currect

employees[0:-2]

employees[1:-2]

employees[0:-3]  # Currect

Explanation

list[begin:end] returns list of elements from begin index to end-1 index default value for begin is: 0

In [ ]:
Q28.
Consider the list:
list_1=['Apple','Banana','Carrot','Mango']
Which of the following are valid ways of accessing 'Mango':

In [58]:
list_1=['Apple','Banana','Carrot','Mango']

In [59]:
list_1[3]

'Mango'

In [60]:
list_1[-1]

'Mango'

In [ ]:
Explanation

Python supports both positive and negative index.
Positive index is from left to right and range is: 0 to length-1. 
Negative index is from right to left and range is: -1 to -length.
In the above example we can access 'Mango' by using list[3] or list[-1]

In [ ]:
Q29.
Which of the following code snippet will produce the output:
Boy
Cat
Dog

In [64]:
l=['Apple','Boy','Cat','Dog']
for i in l:
    if len(i)==3:
        print(i)

Boy
Cat
Dog

In [66]:
l=['Apple','Boy','Cat','Dog']
l1=l[1:]
for i in l1:
    print(i)

Boy
Cat
Dog

In [ ]:
Q30.
Consider the code
a=15
b=5
print(a/b)
What is the result?

In [67]:
a=15
b=5
print(a/b)  # It give result in float

3.0

In [ ]:
Explanation
'/' always meant for floating point arithmetic

In [ ]:
Q31.
You are developing a python application for your company.
A list named employees contains 500 employee names.
In which cases we will get IndexError while accessing employee names?

None of the above
employees[500]
employees[0]
employees[-1]

Explanation

If we are trying to access list elements with out of range index, then we will get IndexError. 
In the above example, list contains 500 names and hence valid positive index range
is 0 to 499 and negative index range is -1 to -500.
employees[500]->IndexError

In [ ]:
Q32.
a=1
b = 2
c = 4
d = 6
Which of the following expression results -4?

In [1]:
a = 1
b = 2
c = 4
d = 6

In [2]:
(a+b)//d-c

-4

In [ ]:
Explanation

(a + b) //c % d...>0

(b+c)// a % d ...>0

(a + b) /c * d...>0

(a+b)// d - c - 4

In [ ]:
Q33.
Consider the code:
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+52)
What is the result?

In [3]:
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

In [ ]:
Q34.
 Which of the following is valid python operator precedence order?
    
Parenthesis
Exponents
Unary Positive,Negative and Not
Multiplication and Division
Addition and Subtraction And

In [ ]:
Q35.
You are writing a python program that evaluates an arithmetic expression.
The expression is described as b is equals a multiplied by negative one,then raised to the second power,
where a is the value which will be input and b is result.
a-eval (input('Enter a number for the expression:'))
Which of the following is valid expression for the given requirement?

b=(-a)**2
(Correct)

Explanation

b=(-a)**2
b is equals a multiplied by negative one,then raised to the second power

In [ ]:
Q36.
Consider the following expression
result=8//6%5+2**3-2
print(result)
What is the result?

In [4]:
result=8//6%5+2**3-2
print(result)

7

In [ ]:
Explanation

2**3=8
8//6=1
result=1%5+8-2=1+8-2-9-2=7

In [ ]:
Q37.
You have the following code:
a = 3
b = 5
a +=2 ** 3
a -=b//2//3
print(a)
What is the result?

In [6]:
a = 3
b = 5
a +=2 ** 3
a -=b//2//3
print(a)

11

In [ ]:
Explanation

a+=2**3
a=(a)+(2**3)=a+8=3+8=11
a-=b//2//3
a=(a-(b//2//3)=(a)-(5//2//3)=a-(2//3)=a-0=11

In [ ]:
Q38.
Consider the following variable declarations:
a= bool([])
b= bool(())
C= bool (range(0))
d= bool({})
e= bool(set())
Which of the above variables represent True?

In [17]:
a= bool([])
b= bool(())
c= bool(range(0))
d= bool({})
e= bool(set())

In [18]:
a

False

In [19]:
b

False

In [20]:
c

False

In [21]:
d

False

In [22]:
e

False

In [ ]:
Explanation

For Empty String, Empty List, Empty tuple, Empty set,Empty dict and range(0) arguments bool() function returns False.

In [ ]:
Q39.
Consider the python code
numbers=[10,20,30,40]
x=0
In which of the following cases 10 will be printed to the console?

In [28]:
numbers=[10,20,30,40]
x=0

In [29]:
for i in(30,40,50): 
    if i in numbers:
        x=x+10
print(x)

20

In [32]:
numbers=[10,20,30,40]
x=0

In [33]:
for i in(30,40,50): 
    if i not in numbers:
        x=x+5
print(x)

5

In [35]:
numbers=[10,20,30,40]
x=0

In [36]:
for i in(30,40,50): 
    if i in numbers:
        x=x+5
print(x)

10

In [37]:
numbers=[10,20,30,40]
x=0

In [38]:
for i in(30,40,50): 
    if i not in numbers:
        x=x+10
print(x)

10

In [ ]:
Q40.
Consider the following lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print (n1 == n2)
n1=n2
print (n1 is n2)
print(n1 == n2)
What is the result?

In [29]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print (n1 == n2)
n1=n2
print (n1 is n2)
print(n1 == n2)

False
True
True
True